<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
    <title>Code The Web HTML-Tags</title>
</head>

<body>
    <!-- All the types of headings from <h1> -the biggest to <h6> -the smallest. -->
    <h1>Title</h1>
    <h2>Subheading</h2>
    <h3>Sub-subheading</h3>
    <h4>Okay, this is getting crazy</h4>
    <h5>I sure have a lot of headings</h5>
    <h6>Wow, this one is so small that it barely looks like a heading</h6>

    <!-- Three paragraphs (<p>'s) separated by horizontal rules (<hr>'s) -->
    <p>Content, content content. Yay I like content.</p><hr>
    <p>This is a new paragraph, you will notice the line break above. This second
        paragraph here even has... Multiple sentences!</p><hr>
    <p>Wow, it's really hard to think of dummy content for three paragraphs. So
        here's some latin dummy text: Curabitur aliquet varius odio et volutpat. 
        Aenean sagittis quam vitae eros ultrices tempor.</p><hr>

</html>
