<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
    
<h1>{% block title %} About Big Mike {% endblock %}</h1>

{% block content %}
    
<a href="https://big-mike-edahow.github.io/images/Big_Mike_Cheyenne.jpg" target="_blank">
    <img src="https://big-mike-edahow.github.io/images/Big_Mike_Cheyenne.jpg" width="330px" height="260px">
</a>

<ul>
    <li>I live in Southeast Idaho.</li>
    <li>I like to read John Grisham novels.</li>
    <li>As a hobby I like to dabble in a little bit of code.</li>
</ul>
    
{% endblock %}
    
</html>
