<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} Big Mike's Trucking LLC {% endblock %}</title>
</head>

<body>
    <header>
        <h1>Big Mike's Trucking LLC</h1>
        <nav class="clearfix">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
        
    {% block content %}
        
    {% endblock %}
        
    </div>
</body>

<footer>
    <span class="copyright">© 2023 Mike Jackson</span>
</footer>

</html>