<!-- logout.html -->

<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

<main>
    <h1 class="center">You have been logged out, Big Mike!👋</h1>
    <section class="center">
        <figure>
            <img src="{{ url_for('static', filename='images/Campo_Happy_Trails.jpg') }}" 
                    alt="Happy Trails" width="320px">
        <figcaption>Happy Trails to you, until we meet again...🤠</figcaption>
        </figure>
    </section>
</main>

{% endblock %}


</html>