<!-- profile.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stlesheet">
    <title>User Profile for {{reader.name}}</title>
</head>

<body>
    <main>
        <section class="center">
        <h1>Hello there  {{reader.name}} 🤗</h1>
        <br>
        <figure>
            <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
            <figcaption>Big Mike likes to study early in the day. ☪</figcaption>
        </figure>
        </section>
        <section>
        <p>Hi, your e-mail is: {{reader.email}}.</p>
        </section>
    </main>
</body>
</html>