<!-- review.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Book Reviews</title>
</head>

<body>
    <main>
        <section>
            <h1>Book Reviews! 📚</h1>
        </section>
        <section>
            <table>
                <tr valign="top">
                    <td>
                      <a href="{{ url_for('profile', user_id=review.reviewer.id) }}">{{ review.reviewer.name }} {{ review.reviewer.surname }}</a> says:<br>{{ review.text }} Stars: {{ review.stars }}            
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>