/* style.css */

.grid-container {
    display: grid;

    grid-template-columns: 150px 150px 80px;
    grid-template-rows: 100px auto;

    grid-gap: 10px 15px;
}

.box-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.box-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
