<!-- add-note.html -->

<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block title %} Add Note {% endblock %}
{% block content %}

<main>
    <section>
        <div class="center-text">
            <h2>Add Note 🖊️</h2>
            <br>
            <hr><br>
        </div>
        <div class="center note">
            <form method="POST" action="/add-note">
                <label for="title"><strong>Title: </strong></label>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label for="description"><strong>Description: </strong></label><br>
                <textarea id="description" name="description" required rows="3" cols="28"></textarea>
                <br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
</main>

{% endblock %}


</html>