<!-- index.html-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
    <title>Code The Web HTML Syntax</title>
</head>

<body>
    <header>
        <h1>Code The Web</h1>
        <nav>
        </nav>
    </header>

    <main>
        <h2>Blog Posts</h2>
        <div>
            <input type="number" id="first" placeholder="First">
            <input type="number" id="last" placeholder="Last">
        </div>
        <span><stront>Total Word Count:</strong> <span id="word-count">0000</span></span>
        <table>
            <tbody>
                <thead>
                    <tr>
                        <th>Post number</th>
                        <th>Post Date</th>
                        <th>Post Name</th>
                        <th>Word count</th>
                    </tr>
                </thead>
                <tr>
                    <td id="post-num">#1</td>
                    <td id="post-date">Friday 29 September 2017</td>
                    <td id="post-title">
                        <a href="https://codetheweb.blog/welcome/" target="_blank">Welcome to Code The Web!</a>
                    </td>
                    <td id="post-words">1373</td>
                </tr>
            </tbody>
        </table>
        <br>
    </main>

    <footer>
    </footer>
</body>

</html>
