<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
    <title>Code The Web HTML-Links</title>
</head>

<body>
    <main>
        <section>
            <a href="/hello">Hello</a>
            <figure>
                <figcaption>
                    <a href="https://codetheweb.blog/links-images-about-file-paths/" target="_blank">
                        An article on images and links
                    </a>
                </figcaption>
                <a href="https://codetheweb.blog" target="_blank">
                <img src="./static/images/Code_The_Web_Icon1.png" width="300px" height="300px">
                </a>
            </figure>
            <img src="./static/images/Vaquero.jpg" height="300px">
        </section>
    </main>
</body>

</html>
