<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="64x64" 
    href="https://codetheweb.blog/assets/img/posts/html-icons/icon64.png">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Code The Web HTML-Icons</title>
</head>

<body>
    <header>
        <h1>HTML Icons!</h1>
    </header>
    <main>
        <section>
            <img src="{{ url_for('static', filename='images/Waffle_Icon_1200.png') }}" 
            alt="Big Mike" width="320px">
        </section>
    </main>
    <br>
    <footer>
        <small>&copy; 2023 Mike Jackson &reg;</small>
    </footer>
</body>

</html>
