<!-- about.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About Big Mike {% endblock %}</h1>
    <a href="https://big-mike-edahow.github.io/images/Big_Mike_Mackay.jpg" target="_blank">
        <img src="https://big-mike-edahow.github.io/images/Big_Mike_Mackay.jpg" width="300px" height="260px">
    </a>
    <h2>I like to go for long walks.</h2>
    <h3>I like to read Louis L'Amour novels.</h3>
    <h3>As a hobby I like to dabble in a little bit of code.</h3>
{% endblock %}