/* style.css */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 25px;
    background-color: #f307a4;
}

header nav {
    float: right;
    padding: 15px;
    font-size: 20px;
    color: black;
}

header nav ul {
    position: absolute;
    right: 5px;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
}

body {
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://big-mike-edahow.github.io/images/Mackay.jpg');
    background-size: cover;
}

.content {
    margin: 150px auto 0 auto;
    height: 100%;
}

.content .text-container {
    
    text-align: center;
}

.services-content {
    margin: 150px auto 0 auto;
    height: 100%;
}

.services-content .card-container ul {
    text-align: center;
    padding: 0;
}

.services-content .card-container ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    width: 480px;
    
}

.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

form input,
textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form input[type="submit"] {
    width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: black;
    padding: 1rem 1.5rem;
    font-size: .75rem;
    background-color: #027c21;
}
