<!-- login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <header>
        <h1>User Login</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/signup/">Signup</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <form>
                <h1>Enter username and password to login:</h1>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />
                <br />
                <label for="user-pw">Password:</label>
                <input type="password" id="user-pw" name="user-pw" />
              </form>
        </section>
    </main>
    <br>
    <footer>
        <small>&copy; 2023 Mike Jackson &reg;</small>
    </footer>
</body>

</html>
