<!-- about.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About Big Mike {% endblock %}</h1>
    <a href="https://big-mike-edahow.github.io/images/Big_Mike_American_Falls.jpg" target="_blank">
        <img src="https://big-mike-edahow.github.io/images/Big_Mike_American_Falls.jpg" width="320px" height="240px">
    </a>
    <h2>I work as a truck driver.</h2>
    <h3>I like to read James Patterson novels.</h3>
    <h3>As a hobby I like to dabble in a little bit of code.</h3>
{% endblock %}